---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="about me image"
	pubDate={new Date('June 04 2025')}
	heroImage="/ted-vu.jpg"
>
	<p>
		Hi, my name is Ted (or Tuan in Vietnamese), I'm just a person who is still figuring out life and enjoy the process while doing that. I believe life should be interesting, filled with excitement, but also challenging enough to grow myself and become useful. Finally, I hope this blog will be a place for you to have different perspective about many things, that's my ultimate goal for the audience of this blog.
	</p>
</Layout>
