---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
  title="About Me"
  description="about me image"
  pubDate={new Date("Jan 19 2026")}
  heroImage="/ted-vu.jpg"
>
  <p>
    Hi, I’m Ted (or Tuan in Vietnamese). I’m someone who’s still figuring out
    life and learning to enjoy the journey along the way. I believe life should
    be full of curiosity, excitement, and just enough challenge to help us grow
    and become more useful to the world around us. Through this blog, I hope to
    share perspectives that inspire you to see things a little differently and
    explore new ways of thinking.
  </p>
</Layout>
