---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <h1>Welcome to Ted Vu personal website</h1>
      <p>
        This is where I jogged down my thoughts about all the interests of mine,
        hope you will enjoy it!
      </p>
    </main>
    <Footer />
  </body>
</html>
