---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Top 100"
	description="about me image"
	pubDate={new Date('Oct 16 2025')}
	updatedDate={new Date('Oct 16 2025')}
	heroImage="/ted-vu.jpg"
>
	<ol>
		<li>Visit my family in Seattle ✗</li>
		<li>Visit NASA, SpaceX HQ and watch a rocket launch ✓</li>
	</ol>
</Layout>